.editForm {
    width: 50%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    margin: 16px auto;
    flex-direction: column;
    input {
        width: 350px;
    }
}