<mat-toolbar>
    <mat-back-button></mat-back-button>

    <mat-label class="spacer">
        Editor
    </mat-label>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content>
    <form class="editForm" [formGroup]="form" (ngSubmit)="!loading && !form.invalid && submit()">
        <mat-form-field appearance="outline">
            <mat-label>
                File Name
            </mat-label>
           
            <input matInput type="text" formControlName="filename" required>

            <mat-error *ngIf="errors.filename">
                {{ errors.filename }}
            </mat-error>
        </mat-form-field>

        <button #button type="submit" style="display: none;"></button>
    </form>
</mat-content>

<mat-footer>
    <button type="button" mat-flat-button color="primary" (click)="button.click()">
        submit
    </button>
</mat-footer>