<mat-drawer-container>
    <mat-drawer mode="side">
        <mat-toolbar>
            <img [src]="icon" alt="logo" width="40" height="40" draggable="false">

            <mat-label class="spacer">
                Drive
            </mat-label>
        </mat-toolbar>

        <mat-list>
            <mat-list-item lines="full" matRipple routerLink="/files" routerLinkActive="active">
                <mat-icon mat-list-icon>
                    folder
                </mat-icon>

                <mat-label>
                    Files
                </mat-label>
            </mat-list-item>

            <mat-list-item lines="full" matRipple (click)="account.signout()">
                <mat-icon mat-list-icon>
                    logout
                </mat-icon>

                <mat-label>
                    Sign Out
                </mat-label>
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<splashscreen></splashscreen>